{% extends 'base.html' %}
{% block head_title %} Confirm Delete {% endblock %}
{% block content %}
<section class="form-section">
    <h2 class="section-headline">Confirm Delete</h2>
    <p class="section-description">
        Are You Sure to Delete "{{product.title}}"? .
    </p>
    <div class="form">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <p>
                <button type="submit">Confirm Delete</button>
            </p>
            <a class="back" href="{% url 'product_delete' product.pk %}">Cancle</a>
        </form>
    </div>
</section>
{% endblock %}
