<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm Deleted</title>
</head>
<body>
    <h1>Confirm Delete</h1>
    <form action="{%url 'product_delete' product.pk %}" method="POST">
        {% csrf_token %}
        <p>Are you sure to delete : "{{product.title}}"?</p>
        <input type="submit" value="Confirm" name="confirm"/>
        <a href="{% url 'product_delete' product.id %}">Cancle</a>
    </form> 
</body>
</html>