{% extends "base.html" %}
{% block head_title %}Delete Product{% endblock %}

{% block content %}
<section class="form-section">
    <h2 class="section-headline">Delete Product</h2>
    <h3 class="section-description"> {{product.title}} </h3>
    <div class="form">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <p style="display:inline-block;" >
                <button type="submit">Delete</button>
            </p>
            <a class="back" href="{% url 'view_products' %}">Cancle</a>
        </form>
    </div>
</section>
{% endblock %}
